@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #187281;
    --priamry-color-darker: #0b363d;
}

* {
    box-sizing: border-box;
    outline: 0;
    
}

body {
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.705);
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px ;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: bold 600;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--priamry-color-darker);
}



.left {
    float: left;
}

.right {
    float: right;
    margin-right: 50px;
}

.container h2 {
    padding: 10px 0;
}